.header {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    align-self: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 0;
}


.logo {
    width: 250px;
}

@media (max-width: 576px) {
    .logo {
        width: 200px;
    }
    .title {
        font-size: 14px;
    }

}